.playerCard {border:1px solid #ccc;position:relative; }

.header{
    display:flex;
    color:#fff;
    div:nth-child(1) {border-right:1px solid #fff;padding:.25em .5em;font-weight:bold;}
    div:nth-child(2) {padding:.25em .5em;font-weight:bold;}

    div {
        padding:.25em;
        font-weight:bold;
    }
}


.player {
    font-size:.80em;
    display:grid;

    justify-content: space-between;
    grid-template-areas:    "a a b b b b d d"
                            "a a b b b b d d"
                            "a a b b b b x x"
                            "a a c c c c c c"
                            "a a f f f f f e";
    .mug {grid-area:a;img{width:120px;}}
    .team-pic {grid-area:b;img{height:55px;}text-align:center;}

    .team-city {font-weight:bold;}
    .team-name {font-weight:bold;}

    .bio {
        grid-area:c;
        div {display:inline-block;}
        div.group{display:block;
            .value {font-weight:bold;}
        }
    }
    .size {
        grid-area:f;
        div {display:inline-block;}
        div.group{display:block;
            .value {font-weight:bold;}
        }
    }
    .draft {
        grid-area:d;
        border:1px solid #ccc;

        background-color:transparent;
        div {display:inline-block;}
        div.group{display:block;
            .value {font-weight:bold;}
        }
    }
    .age {
        grid-area:e; padding:0;
        strong {font-size:2em;}
    }
}

@media screen and (max-width:480px) {
    .player {    font-size:.75em;
    display:grid;
    justify-content: space-between;
    grid-template-areas:    "a b b b d d d d"
                            "a b b b d d d d"
                            "c c c c c c c c"
                            "f f f f f f e e";

                            .mug {img{height:67px;width:50px;}}
                            .team-pic {img{height:35px;}}
}



}
.stats {
    display:flex;
    flex-direction:column;
    justify-content: center;
    div {
        color:#fff;
        width:100%;
        padding:.25em;
        flex:1 1 auto;
        text-align: center
    }
    .stat {
        display:flex;            

        align-content: center;
        font-weight:bold;
        div span {

            text-transform:uppercase;
            font-weight:normal;
            display:block;
        }
    }
}

.teamLogoBackground {
    content: "";
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}