<div class="playerCard p-2" [style.border-color]="color">

    <div class="teamLogoBackground" [ngStyle]="{background: 'url(' + image + ') center center/100% no-repeat'}"></div>

    <div class="header mb-1" [style.background-color]="color">
        <div>{{player.PS}}</div>
        <div>{{player.fname | lowercase}} {{player.lname | uppercase}} </div>
    </div>

    <div class="player">
        <div class="mug"><img [src]="'https://www.btgraphix.com/nba/images/all/' + player.id + '.jpg'"
                class="img-fluid" /></div>
        <div class="team-pic">
            <div class="team-city px-2">{{team.teamNameLong}}</div>
            <img [src]="'https://www.btgraphix.com/nba/images/teams/' + player.Team + '.gif'"
                class="img-fluid" />

        </div>
        <div *ngIf="!bio" class="draft"><div class="loader"></div></div>
        <div *ngIf="bio" class="draft px-1 pt-1" [style.border-color]="color">
                        <div class="group">
                <div class="value">{{bio.round }} round {{bio.pick}} pick</div>
            </div>
            <div class="group">
                <div class="label pr-1">Draft Year:</div>
                <div class="value">{{bio.draft_year }}</div>
            </div>
            <div class="group">
                <div class="label pr-1">By:</div>
                <div class="value">{{bio.drafted_by}}</div>
            </div>
        </div>
        <div *ngIf="!bio" class="bio"><div class="loader"></div></div>
        <div *ngIf="bio" class="bio">
            <div class="group">
                <div class="label pr-2">Born:</div>
                <div class="value">
                    {{ bio.birthplace }}
                </div>
            </div>
            <div class="group">
                <div class="label pr-2">Birthdate:</div>
                <div class="value">{{bio.dob | date:"MM/dd/yy"}}</div>
            </div>

        </div>

        <div *ngIf="!bio" class="size"><div class="loader"></div></div>
        <div *ngIf="bio" class="size pt-1">
            <div class="group">
                <div class="label pr-2">Height:</div>
                <div class="value">{{bio.feet }}'{{bio.inches}}"</div>
            </div>
            <div class="group">
                <div class="label pr-2">Weight:</div>
                <div class="value">{{bio.weight}}lbs.</div>
            </div>

        </div>


        <div *ngIf="age" class="age pt-2">Age: <strong>{{age}}</strong></div>
      </div>


    <div class="stats mt-1">
        <div class="stat" [style.background-color]="color">
            <div><span>{{ 'PTS' | lowercase}}</span> {{player.PTS }} <br/> {{player.PTS/player.GP | number:'.1-1' }}</div>
            <div><span>{{ 'REB' | lowercase}}</span> {{player.TR }} <br/> {{player.TR/player.GP | number:'.1-1'}}</div>
            <div><span>{{ 'AST' | lowercase}}</span> {{player.AS }} <br/> {{player.AS/player.GP | number: '.1-1'}}</div>
            <div><span>{{ 'BLK' | lowercase}}</span> {{player.BK }} <br/> {{player.BK/player.GP | number: '.1-1'}}</div>
            <div><span>{{ 'ST' | lowercase}}</span> {{player.ST }} <br/> {{player.ST/player.GP | number: '.1-1'}}</div>
            <div><span>{{ 'TO' | lowercase}}</span> {{player.TO }} <br/> {{player.TO/player.GP | number: '.1-1'}}</div>
        </div>
    </div>
</div>