<!--The content below is only a placeholder and can be replaced.-->

<h1 class="pt-5 pb-5">
  <div class="container">{{ title | uppercase }}</div>
</h1>

<div class="container pt-5 pb-5">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="1" routerLink="/dashboard"> Dashboard
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="middle" routerLink="/heroes"> Heroes
    </label>
  </div>
</div>

<router-outlet></router-outlet>
<div class="container">
  <app-messages></app-messages>
</div>